<link rel="stylesheet" href="/css/SignIn-SignUp.css" />

<h1>Sign In</h1>

<form action="/users/create-session" method="post">
  <div><input type="email" name="email" placeholder="email" required /></div>
  <div>
    <input type="password" name="password" placeholder="password" required />
  </div>
  <div>
    <input type="submit" value="SignIn" />
  </div>
</form>

<a href="/users/auth/google">
  <div id="social-strategy">
    <div id="google-logo">
      <section>
        <img
          id="logo-size"
          src="https://expresswriters.com/wp-content/uploads/2015/09/google-new-logo-450x450.jpg"
          alt="SignIn/SignUp"
        />
      </section>
      <section>Google</section>
    </div>
  </div>
</a>
