<link rel="stylesheet" href="/css/SignIn-SignUp.css" />

<h1>Sign Up</h1>

<form action="/users/create" method="post">
  <input type="text" name="name" placeholder="name" required />
  <input type="email" name="email" placeholder="email" required />
  <input type="password" name="password" placeholder="password" required />
  <input
    type="password"
    name="confirm_password"
    placeholder="Confirm Password"
    required
  />
  <input type="submit" value="SignUp" />
</form>

<a href="/users/auth/google">
  <div id="social-strategy">
    <div id="google-logo">
      <section>
        <img
          id="logo-size"
          src="https://expresswriters.com/wp-content/uploads/2015/09/google-new-logo-450x450.jpg"
          alt="SignIn/SignUp"
        />
      </section>
      <section>Google</section>
    </div>
  </div>
</a>
